.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 0;
  padding: 0;
  width: 40%;
  min-width: 200px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.display {
  width: 100%;
  height: 40px;
  outline: 1px solid #282c34;
  background-color: white;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.numero {
  height: 40px;
  background-color: rgb(48, 47, 47);
  color: white;
  width: 25%;
  font-size: 1.5rem;
}

.sinal {
  height: 40px;
  background-color: white;
  color: black;
  width: 25%;
  font-size: 1.5rem;
}

.AC {
  height: 40px;
  background-color: rgb(190, 0, 0);
  color: white;
  width: 25%;
  font-size: 1.5rem;
}

.igual {
  height: 40px;
  background-color: rgb(148, 147, 147);
  color: white;
  width: 100%;
  font-size: 1.5rem;
}

.linha1 {
  width: 100%;
}
.linha2 {
  width: 100%;
}
.linha3 {
  width: 100%;
}
.linha4 {
  width: 100%;
}
.linha5 {
  width: 100%;
}
